*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:crimson;

}
.card{
    height: 300px;
    width: 230px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card i{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%) scale(0);
    opacity: 0.8;
    transition : transform ease 0.4s;
}